<%= render 'shared/errors', obj: @article %>

<div class= "row" >
    <%= form_for(@article, :html => {class: "form-horizontal", role: "form"}) do |f| %>
        <div class="form-group">
            <div class= "col-sm-2 control-label">
                <%= f.label :Recette %>
            </div>
            <div class= "col-sm-8">
                <%= f.text_field :title, class: "form-control", placeholder: "Nom de la recette" %>
            </div>
        </div>
        <div class="form-group">
           <div class= "col-sm-2 control-label">
                <%= f.label :Ingredients %>
            </div>
            <div class= "col-sm-8">
                 <%= f.text_area :description, class: "form-control", placeholder: "Liste des ingrédients" %>
            </div>
        </div>
      
        <div class="group-form">
            <div class="col-sm-offset-2 col-sm-10">
                <input class="btn btn-success" type="submit" value="Créer">
            </div>
        </div>
    
    <% end %>
</div>
</br>
<div class="col-sm-offset-2 col-sm-10">
    <%= link_to "retour à la liste", articles_path %>
</div>