<div class="row">
    <div class="col-xs-8 col-xs-offset-2">
        <h2>Liste des étapes</h2>
        <p><%= link_to "créer nouvelle recette", new_article_path, class: "btn btn-xs btn-primary" %></p>
        <table class= "table">
            <thead>
               <tr>
                    <th>Recette</th>
                    <th>Ingredients</th>
                    <th>Actions</th>
                </tr> 
            </thead>
            
            <% @articles.each do |article| %>
            <tr>
                <td><%= link_to article.title, article_path(article) %></td>
                <td><%= article.description %></td>
                <td><%= link_to "Editer", edit_article_path(article), class: "btn btn-xs btn-success" %></td>
                <td><%= link_to "Supprimer", articles_path(article), method: :delete, class: "btn btn-xs btn-danger" %></td>
            </tr>
            <% end %>
        </table>
    </div>     
</div>
        

